# module tests temporary files
_wasm_out/

# vessel temporary files
.vessel
*.wasm


# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/
