/* @font-face {
  font-family: Iceland;
  src: url('./Iceland.ttf');
} */

body {
  background: #1D111B;
  /* font-family: Iceland; */
  color: #1D111B;
  margin: 0;
}

.app-container{
  height: 100vh;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
